
inc:
  # Blog Information
  title:        "珠三角技术沙龙"
  subtitle:     "打造泛珠三角技术圈线上线下交流的平台"
  cover_image:  blog-cover.jpg
  logo:         logo.png
  
  # Company information
  company:      珠三角技术沙龙
  url:          http://www.techparty.org/
  twitter:      techparty_org
  weibo:        techparty

  gplus:        '101183822199340201470'
  about_link:   https://sendtoinc.com/about/
  
  organizer_link:   /organizer/
  speaker_link:   /speaker/
  finance_link:   /%E5%85%AC%E5%91%8A/%E6%80%BB%E7%BB%93/%E6%B2%99%E9%BE%99/2008/01/01/finance/
  about_link:   /about/
  tags_link:   /tags/
  categories_link:   /categories/
  archives_link:   /archives/


  jobs_link:   http://gztechjobs.com/



  # Product Information
  tagline:      ""
  
  # Comments
  disqus:
    # Eg. "exampleblog" Set to false to disable comments
    shortname:  techparty4gitcafecom
  
  # Sharing settings
  sharing:
    twitter:    false
    facebook:   false
    gplus:      false
    hn:         false
    
  
 # Analytics     
  analytics:
    google: false # Add tracking code in _includes/_google-analytics.html
      
      
  # Google Fonts
  # eg. 'Droid+Sans:400,700|Droid+Serif:400,700'
  google_font: 'Droid+Sans:400,700'
  
  # Setup your fonts, colors etc at _assets/stylesheets/main.scss

root: /
url:         http://www.techparty.org
source:      .
destination: ./_site
plugins:     ./_plugins
layouts:     ./_layouts
include:     ['.htaccess']
exclude:     []
timezone:    nil

# Show future posts
future:      false
show_drafts: nil
limit_posts: 0
pygments:    true

relative_permalinks: true

permalink:     pretty
paginate_path: 'page:num'
paginate: 5

markdown:      rdiscount
markdown_ext:  markdown,mkd,mkdn,md
textile_ext:   textile

excerpt_separator: "<!-- more -->"

safe:        false
host:        0.0.0.0
port:        4000
baseurl:     /
lsi:         false

maruku:
  use_tex:    false
  use_divs:   false
  png_engine: blahtex
  png_dir:    images/latex
  png_url:    /images/latex

rdiscount:
  extensions: []

redcarpet:
  extensions: []

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  use_coderay: false

  coderay:
    coderay_wrap: div
    coderay_line_numbers: inline
    coderay_line_numbers_start: 1
    coderay_tab_width: 4
    coderay_bold_every: 10
    coderay_css: style

redcloth:
  hard_breaks: true

#
# jekyll-assets: see more at https://github.com/ixti/jekyll-assets
#
assets:

  dirname: assets
  baseurl: /assets/
  sources:
    - _assets/javascripts
    - _assets/stylesheets
    - _assets/images
  js_compressor: uglifier
  css_compressor: sass
  cachebust: none
  cache: false
  gzip: [ text/css, application/javascript ]
  debug: false