---
title: 社区组委
layout: page
comments: yes
---

<article class="listing fn-clear"> 
<table class="cust_table"><!-- **************************  负责人  ************************** -->
<tbody>
<tr>
<td width="130">组委主席</td>
<td>兼广州负责人</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_jeff.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://jeffkit.info">Jeff</a>
Python与Java编程、系统架构设计、数据分析、Scrum团队管理</td>
</tr>
<tr>
<td width="130">珠海负责人</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_zq.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://zoomquiet.org">周琦 ZoomQuiet</a>
金山网络, 过程改进经理。Pythonic入门宣传;实效敏捷配置管理;技术社区文化促生;
PKM::GTD/个人效率工具箱/文学化编程;
EKM::企業知识管理策略理解;企業自学习型组织促生;企業对外技术社区管理;</td>
</tr>
<tr>
<td width="130">深圳负责人</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_dc.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://dcshi.com">DC Shi</a>
从事后台开发工作(c/c++)，非常热爱和关注互联网</td>
</tr>
<tr>
<td width="130">G</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/caleng1.jpeg" alt="" width="128" height="128" /></td>
<td><a href="http://blog.csdn.net/caleng">感染源</a>
做过语音通讯，做过社区，也做过Facebook游戏，现在专注于电商，正转为运营方向。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_zhongchao.png" alt="" width="128" height="128" /></td>
<td><a href="http://blog.baozishan.in">Gohan</a>
Developer with LOVE AND PEACE</td>
</tr>
<tr>
<td width="130">K</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_kendalang.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://blog.hi0791.com">Ken 大郎</a>
百才招聘网（www.baicai.com）产品经理、网站运营。Python 业余爱好者。</td>
</tr>
<tr>
<td width="130">L</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_laiyonghao.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://laiyonghao.com">赖勇浩</a>
广州**科技有限公司, 技术总监。曾开发《天下盛境》txsj.0505u.com、《斩魂》zh.163.com、《幻想三国》sg.198game.net、《疯狂石头》和《泡泡游戏》等，懂端游和页游的相关编程技术。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_kaiping.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://weibo.com/popskf">凯平</a>
关注移动互联网领域及Android端开发，技术杂。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/cngump_avator.png" alt="" width="128" height="128" /></td>
<td><a href="http://cngump.com">老甘</a>
<a href="http://www.ganguo.hk">红甘果科技</a>, 联合创始人。像阿甘那样执着，对技术热爱。 专业iOS开发, 做过Golang,Java,PHP,Python,Ruby。 业余时间打杂珠三角技术沙龙。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_leon.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://beansmile.com">Leon Du</a>
曾从事政府采购信息化工作，现带领BeanSmile(beansmile.com)团队专注于Web开发，酷爱Ruby和Rails。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_shuangmu.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://linluxiang.info">林路翔</a>
程序员, 自称顽童，略懂python, 略懂ios。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/hoorace.jpeg" alt="" width="128" height="128" /></td>
<td><a href="http://www.longtask.com">龙浩</a>
用技术创造价值，用艺术塑造自我！</td>
</tr>
<tr>
<td width="130">M</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_michael.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://www.cnblogs.com/michael2008s/">Michael</a>
从事Android app开发工作(java/c)，热爱和关注互联网技术和产品.</td>
</tr>
<tr>
<td width="130">P</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_panjunyong.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://weibo.com/panjunyong">潘俊勇</a>
易度云办公(everydo.com) 创始人，已经不纯粹的pythoner，一半是技术，一半是产品！</td>
</tr>
<tr>
<td width="130">W</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_wengwei.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://meishiwanjia.com">翁伟</a>
热爱美食的胖程序员，学习.NET出身，近年常用Python做服务器端开发，在新加坡游荡十余年后，于去年回家乡汕头创业。</td>
</tr>
<tr>
<td width="130">Y</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_yinhm.jpg" alt="" width="128" height="128" /></td>
<td><a href="https://yinhm.appspot.com">殷海明</a>
目前就职于一家投资顾问咨询公司，技术总监。关注新技术，热爱 Python, Linux，云计算，自动化交易。喜欢美食和美女。</td>
</tr>
</tbody>
</table>

</article>



<section>
{% include footlinks.md %}
</section>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}