---
title: 社区组委
layout: page
comments: yes
---

<article class="listing fn-clear"> 
<style type="text/css">
article img { margin:0px }
.cust_table td {
vertical-align: top;
padding: 10px;
}
</style>
<table class="cust_table">
    <!-- **************************  负责人  ************************** -->
<tbody>
<tr>
<td width="148">组委主席</td>
<td>兼广州负责人</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_jeff.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://jeffkit.info">Jeff</a>
Python与Java编程、系统架构设计、数据分析、Scrum团队管理</td>
</tr>
<tr>
<td>珠海负责人</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_zq.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://zoomquiet.org">Zoom.Quiet (大妈)</a>
<br/>金山网络,开发者关系管理专员;
<br/>擅长:Pythonic入门宣传;实效敏捷配置管理;技术社区文化促生;
<br/>PKM::GTD/个人效率工具箱/文学化编程;
<br/>EKM::企業知识管理策略理解;企業自学习型组织促生;企業对外技术社区管理;
<br/>Blog:<a href="http://blog.zoomquiet.io/pages/about.html">#是也乎# | ZoomQuiet.io</a>
</td>
</tr>
<tr>
<td>深圳负责人</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_dc.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://dcshi.com">DC Shi</a>
从事后台开发工作(c/c++)，非常热爱和关注互联网</td>
</tr>

<!-- 开始C开头的部分 -->
<tr>
  <td>C</td>
  <td></td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_caixiaobin.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="">蔡晓彬</a>
    曾任职于3G门户软件开发，参与多个移动互联网产品的设计，热爱于移动科技与生态文明，游走在技术与产品之间，希望通过移动互联网产品改善人们的日常生活方式
  </td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_chenzongmian.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://www.weibo.com/joshuachen">陈宗绵</a>
    .NET/JAVA/PHP程序员
  </td>
</tr>
<!-- 结束C开头的部分 -->

<tr>
<td>D</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://ww1.sinaimg.cn/large/62503f09gw1efr0328a95j203k03kmx5.jpg" alt="" width="128" height="128" /></td>
<td><a href="#">David 林张炜</a>
代码出身，玩过音乐；装过文青，热衷科技；热爱艺术，喜欢美女。愿意把美的东西分享给攻城狮伙伴们，现在深圳社区打杂：）</td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_disylee.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://weibo.com/disylee">Disylee</a>
    IT女，网络攻城狮，现在工作偏向系统运维方面，喜欢linux，还在进阶学习，喜欢交流。作为实习组委，在打酱油学习中。
  </td>
</tr>

<tr>
<td>G</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/caleng1.jpeg" alt="" width="128" height="128" /></td>
<td><a href="http://blog.csdn.net/caleng">感染源</a>
做过语音通讯，做过社区，也做过Facebook游戏，现在专注于电商，正转为运营方向。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_zhongchao.png" alt="" width="128" height="128" /></td>
<td><a href="http://blog.baozishan.in">Gohan</a>
Developer with LOVE AND PEACE</td>
</tr>

<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_guanjianghui.png" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://blog.segmentfault.com/hui">关江辉</a>
    不忘初心,方得始终<br>
    热爱PHP,Python 关注互联网技术,创业,安全
  </td>
</tr>

<!-- 开始H开头部分 -->
<tr>
  <td>H</td>
  <td></td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_huliming.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://weibo.com/hulm">胡黎明</a>
    混迹连锁行业和创业圈的打杂人士
  </td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_huangyizi.jpg" alt="" width="128" height="128" />
    <td>
      <a href="http://noanycrying.blog.163.com/">黄伊姿</a>
      小女子，大学生。中大IT女，学习中。
    </td>
</tr>
<!-- 技术H开头部分 -->

<tr>
  <td>J</td>
  <td></td>
</tr>
<tr>
  <td align="center"><img src="http://ww2.sinaimg.cn/large/62503f09gw1efqzeahvijj203w03wglg.jpg" alt="" width="128" height="128" /></td>
  <td><a href="mailto:ipinko@techparty.org">蕉爷</a> ，码农。。</td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_JeOam.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://jeoam.github.io/">JeOam</a>
    iOS 开发工程师，长期混迹各种网络社区，努力成为靠谱程序员。
  </td>
</tr>

<tr>
<td>K</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_kendalang.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://blog.hi0791.com">Ken 大郎</a>
百才招聘网（www.baicai.com）产品经理、网站运营。Python 业余爱好者。</td>
</tr>
<tr>
<td>L</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_laiyonghao.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://laiyonghao.com">赖勇浩</a>
广州**科技有限公司, 技术总监。曾开发《天下盛境》txsj.0505u.com、《斩魂》zh.163.com、《幻想三国》sg.198game.net、《疯狂石头》和《泡泡游戏》等，懂端游和页游的相关编程技术。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_kaiping.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://weibo.com/popskf">凯平</a>
关注移动互联网领域及Android端开发，技术杂。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/cngump_avator.png" alt="" width="128" height="128" /></td>
<td><a href="http://cngump.com">老甘</a>
<a href="http://ganguo.io">甘果移动</a>, 创始人。像阿甘那样执着，对技术热爱。 专业iOS开发, 做过Golang,Java,PHP,Python,Ruby。 业余时间打杂珠三角技术沙龙。</td>
</tr>
<tr>
<td align="center"><img src="http://ww4.sinaimg.cn/large/62503f09gw1efqzat2ytsj20320320sl.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://www.andyshi.me">老斩</a>
奶爸程序员，多年从事移动开发，一路从Windows mobile做到iPhone。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_leon.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://beansmile.com">Leon Du</a>
曾从事政府采购信息化工作，现带领BeanSmile(beansmile.com)团队专注于Web开发，酷爱Ruby和Rails。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_shuangmu.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://linluxiang.info">林路翔</a>
程序员, 自称顽童，略懂python, 略懂ios。</td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/hoorace.jpeg" alt="" width="128" height="128" /></td>
<td><a href="http://www.longtask.com">龙浩</a>
用技术创造价值，用艺术塑造自我！</td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_laisiyang.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://weibo.com/laisiyang">赖思扬</a>
    每日Q游戏商务总监，90er，敢想敢做不安份，大学在校开始创业，专注互联网产品和游戏运营，曾任超级课程表运营总监。
  </td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_libinggen.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="https://www.linkedin.com/in/libinggen">利炳根</a>
    网名清醒疯子。自学iOS开发，2013年10月入行IT。目前就职于ShareSDK。常年混迹于LinkedIn、知乎、微博。热爱阅读专业技术书，以iOS开发为最。热衷探索智能计算和游戏化领域。希望认识天下所有开发工程师。
  </td>
</tr>

<tr>
<td>M</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_michael.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://www.cnblogs.com/michael2008s/">Michael</a>
从事Android app开发工作(java/c)，热爱和关注互联网技术和产品.</td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_mengxi.jpeg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://article.neugls.info/">梦溪</a>
    产品经理，喜欢音乐与美食，技术杂，做过AS3, Delphi, Python, JS, PHP； 关注产品设计、程序员理财。
  </td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_martin.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="http://martin91.github.io/">Martin</a>
    技术菜鸟，主要武器是Ruby，得了一种不写代码会死病。喜欢鼓捣新鲜好玩的技术，最近关注WebRTC以及网络通信技术，热爱技术社区。
  </td>
</tr>

<tr>
<td>P</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_panjunyong.jpg" alt="" width="128" height="128" /></td>
<td><a href="http://weibo.com/panjunyong">潘俊勇</a>
易度云办公(everydo.com) 创始人，已经不纯粹的pythoner，一半是技术，一半是产品！</td>
</tr>
<tr>
<td>W</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://tp2.sinaimg.cn/1665492281/180/5686832318/1" alt="" width="128" height="128" /></td>
<td><a href="http://www.zhihu.com/people/wuvist">翁伟</a>
热爱美食的程序员，学习.NET出身，近年常用Python / Go做服务器端开发，也热衷web前端技术，搞过推荐引擎，在新加坡游荡十余年后，又（！）跑去深圳创业。</td>
</tr>
<tr>
<td>Y</td>
<td></td>
</tr>
<tr>
<td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_yinhm.jpg" alt="" width="128" height="128" /></td>
<td><a href="https://yinhm.appspot.com">殷海明</a>
目前就职于一家投资顾问咨询公司，技术总监。关注新技术，热爱 Python, Linux，云计算，自动化交易。喜欢美食和美女。</td>
</tr>
<tr>
  <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/member_yifeng.jpg" alt="" width="128" height="128" />
  </td>
  <td>
    <a href="">怡峰</a><br>
    名：hiddaorear<br>
    文：<br>
    一灯延日月，不寐照编程。<br>
    不生不死间，借此舒怀抱。
  </td>
</tr>
</tbody>
</table>

</article>



<section>
{% include footlinks.md %}
</section>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
