---
title: 讲师
layout: page
comments: yes
---
<article class="listing fn-clear">
<style type="text/css">
.cust_table td {
vertical-align: middle;
}
</style>
<table class="cust_table">
  <!-- **************************  C  ************************** -->
  <tr>
    <td width=130>
    C</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/chenjunzhuo.png" alt="" width="116" height="130" />
    </td>
    <td>
      <a href="http://weibo.com/moonfunjohn">陈均卓</a>
      现任(FIT)广州新点信息科技有限公司的技术总监，曾于汇丰银行的软件中心担任高级工程师，iPhone版支付宝，畅销财务软件iXpenselt的主要编程人员之一。陈均卓在项目管理，系统架构设计，以及Mac、iPhone应用开发方面有丰富的经验。
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://ww2.sinaimg.cn/large/61c18847gw1efdomj4s50j2050050jrj.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="#">陈诗峰</a>
      广州君行网络科技有限公司 CEO。
    </td>
  </tr>
  <!-- **************************  F  ************************** -->
  <tr>
    <td width=130>F</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/fengrui.jpg" alt="" width="127" height="146" />
    </td>
    <td>
      <a href="http://weibo.com/wavelet">风端</a>
      南方周末新媒体首席运营官。曾任《南方周末》资深文化编辑多年。加入《南方周末》之前，于 IBM 中国，任大型计算机系统工程师。2007年以来，致力于传统媒体数字化转型的探索，主导推出中国媒体在 iOS 和 Android 平台上最早的新闻资讯应用“南周阅读器”系列，最近与 3G 门户联合推出了 iOS 平台上的数字阅读应用 “三体”。
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://ww1.sinaimg.cn/large/6907a9d0gw1enjevp5766j2074074mxs.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://weibo.com/kidweibo">冯斌</a>
      珠海正点科技有限公司研发部iOS项目经理，网名KidFeng，使用MacOSX和Ubuntu，熟悉iOS与Android开发，技术兴趣广泛。
    </td>
  </tr>
  <!-- **************************  J  ************************** -->
  <tr>
    <td width=130>J</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/member_jeff.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://jeffkit.info">Jeff</a>
      Python与Java编程、系统架构设计、数据分析、Scrum团队管理
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://ww1.sinaimg.cn/large/61c18847gw1efdomuyoj1j2050050q2x.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://welomo.com">蒋嘉之</a>
      蒋嘉之活跃于广州技术创业圈，为技术创业社区组织活动，为其它创业公司提供指导。他还是IEEE-SMC广州分会的创始人之一（2004-2007）。
    </td>
  </tr>
  
  <!-- **************************  L  ************************** -->
  <tr>
    <td width=130>L</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/member_laiyonghao.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://laiyonghao.com">赖勇浩</a>
      广州**科技有限公司, 技术总监。曾开发《天下盛境》txsj.0505u.com、《斩魂》zh.163.com、《幻想三国》sg.198game.net、《疯狂石头》和《泡泡游戏》等，懂端游和页游的相关编程技术。
    </td>
  </tr>
  
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/liuyiwei.png" alt="" width="128" height="128" />
    </td>
    <td>
      刘祎玮
      浙江大学计算机硕士。2009年12月加入谷歌，现在商务合作部负责Adsense/Admob的商业合作伙伴引入。之前曾在百度、myTino、SolidWords公司工作。
    </td>
  </tr>
  <tr>
    <td align="center"><img src="http://techparty-media.qiniudn.com/techparty-avatar/cngump_avator.png" alt="" width="128" height="128" /></td>
    <td><a href="http://cngump.com">老甘</a>
    <a href="http://ganguo.io">甘果移动</a>, 联合创始人。像阿甘那样执着，对技术热爱。 专业iOS开发, 技术杂，创业中。 业余时间打杂珠三角技术沙龙。</td>
  </tr>
  <!-- **************************  Q  ************************** -->
  <tr>
    <td width=130>Q</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://ww2.sinaimg.cn/large/61c18847gw1efdx0k1cu9j2050050mx8.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="#">邱永刚</a>
      现任CVTE电子集团副总工程师 负责集团公司新技术的预研和开发，是集团早期创业的研发骨干，同时是国内最早从事智能电视开发的人员之一。目前负责公司自动化测试的相关工作，熟悉嵌入式Linux开发，FPGA，ROS和工业机器人相关等技术；
    </td>
  </tr>
  <!-- **************************  R  ************************** -->
  <tr>
    <td width=130>R</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://avatar.csdn.net/8/1/B/1_rogeryi.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://blog.csdn.net/rogeryi">易旭昕 Roger</a>
      Twitter：roger2yi  Google+：易旭昕   Blog：http://rogeryi.wordpress.com/
      个人简介：C++，Java，Qt，Android，GUI Framework，2D Graphics，WebKit，Browser
    </td>
  </tr>
  
  <!-- **************************  S  ************************** -->
  <tr>
    <td width=130>S</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/sparkle.jpeg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://weavesky.com/">曾冠东 网名: Sparkle </a>
      目前在一家网页游戏公司担任技术总监。多年Java经验，关注各种新技术，并发开发，云计算，移动互联网等。
    </td>
  </tr>
  
  <!-- **************************  X  ************************** -->
  <tr>
    <td width=130>X</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/xingxing.png" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://www.mikespook.com/">邢星 网名: mikespook</a>
    曾经迷失于企业信息化、电子政务、网页游戏等行业多年。皈依开悟，追求生活之本。现关注医疗健康信息化应用与发展，对互联网化的医疗健康产品设计与实现有着浓厚的兴趣。现就职于39健康网。    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://ww3.sinaimg.cn/large/61c18847gw1efdx1238ebj2050050aa9.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="#">谢琨</a>
    从2010年至今一直在CVTE集团下的创业团队从事新业务研发及管理工作，现任医疗事业部软件经理一职。先后参与了Android机顶盒、智能遥控器、Apple Dock、健康电视等新业务的创业。   </td>
  </tr>
  
  <!-- **************************  Y  ************************** -->
  <tr>
    <td width=130>Y</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/member_yinhm.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="https://yinhm.appspot.com">殷海明</a>
      目前就职于一家投资顾问咨询公司，技术总监。关注新技术，热爱 Python, Linux，云计算，自动化交易。喜欢美食和美女。
    </td>
  </tr>
  
  <!-- **************************  Z  ************************** -->
  <tr>
    <td width=130>Z</td>
    <td></td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty-media.qiniudn.com/techparty-avatar/zhaojie.png" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://blog.zhaojie.me/">赵劼  网名:老赵</a>      曾就职于微软及盛大创新院，目前就职于IBM中国，高级咨询师，写有个人博客“老赵点滴”。InfoQ中文站编辑，以企业技术为生，互联网技术为乐。关注前沿技术，对函数式编程，并行程序开发，代码之美，编程语言设计以及程序员能力与修养等相关问题也有着浓厚的兴趣，同时非常希望能够写程序到60岁。在技术之外，也是个钢琴演奏及烹饪爱好者。
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://ww3.sinaimg.cn/large/61c18847gw1efdonc3z96j2050050t8p.jpg" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="">郑雷</a>     一个技术控，产品控，创业者。获奖无数，从软件设计、电子设计竞赛，到红点设计大奖。极度热衷于设计最佳用户体验的产品，并且研究产品背后蕴含的商业模式，可获得商业机会。
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://techparty.org/wp-content/uploads/2012/03/zhouchong.png" alt="" width="128" height="128" />
    </td>
    <td>
      <a href="http://blog.zhaojie.me/">周翀</a>     曾就职于福窝网，盛大Mochimedia，现在为创业游戏公司程序员。关注新技术、各类语言特性，热衷于翻译技术文章、脚本自动化。爱好摄影，溜冰。
    </td>
  </tr>
  
</table>
</article>
<section>
  {% include comments.md %}
</section>
<section>
  {% include footlinks.md %}
</section>